@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-5 md:px-14 max-w-screen-xl;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

.scrollbar-left::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-left::-webkit-scrollbar-track {
  background-color: #f7fafc;
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 6px;
}
